<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>539286091451-0r9pej34fhk66luanda8bccvv3t01lur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.539286091451-0r9pej34fhk66luanda8bccvv3t01lur</string>
	<key>API_KEY</key>
	<string>AIzaSyC1VTFwi4u_NVwDW9oTrQMqKNMmuPim1Q0</string>
	<key>GCM_SENDER_ID</key>
	<string>539286091451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.week7NetworkingDiscussion</string>
	<key>PROJECT_ID</key>
	<string>cmsc23-todo-app-rsvispo</string>
	<key>STORAGE_BUCKET</key>
	<string>cmsc23-todo-app-rsvispo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539286091451:ios:d644e1fa207e48a65a9b9e</string>
</dict>
</plist>